#dcr-car-section {
  padding: 25px 20px 0 20px;
}

.dcr-cars-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dcr-cars-container h1 {
  font-size: 20px;
  color: var(--ct-color-font-tertiary);
  margin-bottom: 25px;
}

#dcr-comment-section {
  padding: 25px 20px 0 20px;
  background-color: var(--ct-color-bg-tertiary);
}

.dcr-comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dcr-comments-container h1 {
  font-size: 20px;
  color: var(--ct-color-font-tertiary);
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
  .dcr-cars-container h1 {
    font-size: 32px;
  }
 
  .dcr-comments-container h1 {
    font-size: 32px;
  }
}
